<div class="app-layout">

  <div class="sidebar">
    <h4 class="logo">InstaLite</h4>

    <ng-container *ngIf="isLoggedIn(); else loggedOut">
      <a routerLink="/feed" routerLinkActive="active">Feed</a>
      <a routerLink="/create" routerLinkActive="active">Create Post</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <a class="logout" (click)="logout()">Logout</a>
    </ng-container>


<ng-template #loggedOut>
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Signup</a>
    </ng-template> </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
